.container {
    max-width: var(--max-width);
    background: none;
    margin: 0 auto 10rem;
}

.title {
    text-align: center;
    margin-bottom: 3rem;
}

.steps {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.step {
    padding: 3rem;
    border-radius: 30px;

}

.step:hover {

}

.phoneFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.step h3 {
    margin-bottom: 2rem;
}

.step p {
    line-height: 1.6;
    margin-bottom: 2rem;
}

/* Адаптивность */
@media (max-width: 768px) {
    .title {

    }
    .step p {

    }
}

@media (max-width: 480px) {
    .title {

    }
    .step p {

    }
}
