.reviewsContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    margin-bottom: 10rem;
}

.reviewsTitle {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 1rem;
}

.reviewsDescription {

    text-align: center;
    margin-bottom: 15px;
}

.link {
    text-decoration: none;
    font-weight: 600;
}

/* Контейнер для отзывов */
.reviewsList {
    display: flex;
    gap: 2rem;
}

/* Десктопная версия */
.desktopColumns {
    display: flex;
    flex: 1;
    gap: 2rem;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Карточка отзыва */
.reviewCard {
    background-color: var(--card-background);
    border-radius: 30px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 190px; /* Фиксируем высоту */
    max-height: 190px; /* Ограничиваем максимальный размер */
    overflow: hidden;
    justify-content: space-between;
}

.reviewCard:hover {
    transform: translateY(-5px);
}

/* Текст в карточке */
.reviewText {
    color: var(--text-color);
    line-height: 1.6;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* Шапка карточки */
.reviewHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

/* Автор */
.author {
    font-weight: bold;
    color: var(--primary-color);
}

/* Рейтинг */
.rating {
    display: flex;
}

.star {
    width: 20px;
    height: 20px;
    color: var(--disabled-color);
}

.star.filled {
    color: var(--primary-color);
}

/* Пагинация */
.pagination {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.navButton {
    background: none;
    border: none;
    color: var(--primary-color);
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    padding: 0;
    line-height: 1;
}

.navButton:hover {
    color: var(--secondary-color);
    transform: scale(1.1);
}

.navButton:active {
    transform: scale(0.95);
}

/* Адаптивная версия */
@media (max-width: 768px) {
    .reviewsContainer {
        padding: 1rem;
    }

    /* Скрываем десктопную версию */
    .desktopColumns {
        display: none;
    }

    /* Включаем мобильную версию */
    .reviewsList {
        flex-direction: column;
    }

    .mobileColumn {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}
